:root {
    --clr-black: #343434;
    --clr-black-2: #232323;
    --clr-pry-green: #00DEA5;
    --clr-sec-orange: #FF8F2A;
    --clr-white: #ffffff;

    --ff-pry-header: 'Fredoka One', cursive;
    --ff-sec-body: 'Nunito Sans', sans-serif;
    --ff-tertiary-subhead: 'Quicksand', sans-serif;

    --font-family: 'Nunito', sans-serif; /* Unused */

    --fs-hero-header: 80px;
    --fs-bd-header: 50px;
    --fs-bd-title: 30px;

    --bdr-radius: 15px;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    /* MOBILE */
    --fs-m-hero-header: 50px;
    --fs-m-bd-header: 30px;
    --fs-m-title: 18px;
    --fs-m-body: 16px;
}

/* =====RESET START=====  */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}
  
html,
body {
    height: 100%;
    -webkit-text-size-adjust: 100%; /* 2 */
    /* by kevin powel */
}
  
/* Set core body defaults */
body {
    /* min-height: 100vh; */
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* RESET END */

.container {
    max-width: 1200px;
    margin: 0 auto;
}