:root {
    --clr-black-body: #343434;
    --clr-black-header: #232323;
    --clr-pry-green: #00DEA5;
    --clr-sec-orange: #FF8F2A;
    --clr-tertiary-orange: #F65024;
    --clr-white: #ffffff;

    /* Font Family */
    --ff-pry-header: 'Fredoka One', cursive;
    --ff-sec-body: 'Nunito Sans', sans-serif;
    --ff-tertiary-subhead: 'Quicksand', sans-serif;
    --font-family: 'Nunito', sans-serif;
    /* Unused */

    /* Font size desktop */
    --fs-hero-header: 80px;
    --fs-bd-header: 50px;
    --fs-subheader: 30px;
    --fs-title: 20px;
    --fs-body: 18px;

    /* Border Radius */
    --bdr-radius: 15px;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    /* MOBILE */
    --fs-m-hero-header: 40px;
    --fs-m-bd-header: 30px;
    --fs-m-subheader: 22px;
    --fs-m-title: 20px;
    --fs-m-body: 18px;
}

/* =====RESET START=====  */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    /* 2 */
    /* by kevin powel */
}

/* Set core body defaults */
body {
    /* min-height: 100vh; */
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

.container {
    overflow: auto;
    display: flex;
}

.box {
    border: 0px solid;
    width: 200px;
    background-color: var(--clr-pry-green);
    border-radius: 10px;
    color: var(--clr-white);
}

.hero {
    text-align: center;
}

#hero-img {
    max-width: 350px;

}

#blt-pnt {
    display: flex;
    justify-content: flex-start;
    float: left;
    padding-top: 10%;
    padding-left: 5%;
    font-family: var(--ff-tertiary-subhead);
    font-weight: bold;
}

#blt-pnt1 {
    display: flex;
    float: left;
    padding-left: 10%;
    padding-top: 10%;
    font-family: var(--ff-tertiary-subhead);
    font-weight: bold;
}

#abt-h>h1 {
    font-family: var(--ff-pry-header);
    color: var(--clr-black-header);
}

#abt-h>h3 {
    font-family: var(--fs-m-subheader);
    color: var(--clr-black-header);
}

#abt-h>h3>span {
    font-family: var(--fs-m-subheader);
    color: var(--clr-pry-green);
}

#abt-bdy {
    font-family: var(--ff-sec-body);
    font-size: var(--fs-body);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* RESET END */


/* ===== GENERAL ===== */
.container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding-inline: 10px; */
}

p {
    font-family: var(--ff-sec-body);
}

.title {
    font-size: var(--fs-m-title);
    font-family: var(--ff-tertiary-subhead);
    font-weight: 700;
}

.nav-item {
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--ff-tertiary-subhead);
}

.header {
    font-size: 30px;
    font-family: var(--ff-pry-header);
}

.subheader {
    font-size: 22px;
    font-family: var(--ff-tertiary-subhead);
    font-weight: 700;
}

/* GENERAL END */






/* ===== SWIPPER ===== */
.carousel {
}

.carousel .container {
    margin-inline: 1rem;
    background-color: var(--clr-tertiary-orange);
    background-image: url(./images/pattern-small.png);
    padding: 2.8rem 1.8rem;
    border-radius: var(--bdr-radius);
}

.carousel .header,
.carousel .subheader {
    text-align: center;
    color: var(--clr-white) ;
}

.swiper {
    /* width: 600px; */
    height: 250px;
    /* background-color: #00DEA5; */
}

.swiper-wrapper {
    /* background-color: #343434; */
    margin-top: 2rem;
}

.swiper-slide {
    /* background-color: rgb(89, 67, 67); */
    /* width: 200px; */
}

.swiper-slide img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto;
    /* margin-bottom: .8rem; */
}

.swiper-slide p {
    text-align: center;
}

.swiper-slide-active {
    /* background-color: red; */
}

.swiper-button-prev {
    color: red;
}


/* ===== FOOTER ===== */
footer {
    background-color: var(--clr-black-header);
    /* background-color: #1a1a1a; */
    padding-block: 10px;
}

footer p {
    text-align: center;
    color: var(--clr-white);
    margin-inline: 6rem;
}

footer span {
    color: var(--clr-sec-orange);
}